.content {
    padding-top: 150px; /* height of header + navbar*/
    padding-left: 50px;
}
 #divTitleOfThePage {
    padding-top:100px;
      
}
 .titleOfThePage {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: large;
    color: #006426;
    padding-bottom: 5px;
      
}

.navbar {
    /*top: 77px;*/
}

 

.bg-success {
    background-color: #006426 !important;
}

.bg-info { 
            background-color: #006426 !important;
            /*background: url(/LayoutImages/bg-navbar-rid.png) repeat-x !important;
            height: 77px !important;
         */
}

a.bg-info:hover, a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
}


.bg-info .appTitle {
    padding-left: 20px;
    color: white;
    font-size: 30px;
}


.navbar-brand {
    max-width: 100px !important;
}

.navbar .appTitle {
    padding-left: 5px;
    color: white;
    font-size: 30px;
    padding-right: 25px;
}

.nav-item {
    font-size:small ;
}

 
.bg-secondary {
    background-color:gainsboro !important;
    border-color:#006426 ; 
    border-radius:6px ;
    border-width:1px ;
    width: 100%; 
    padding-top: 0px;
    margin-top: 0px;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
   
    width: 100%; 
}


.bg-danger {
    background-color:white !important;
    border-color:#ff0000 ; 
    border-radius:6px ;
    border-width:1px ;
    width: 100%; 
    padding-top: 0px;
    margin-top: 0px;
    color:red;
}

a.bg-danger:hover, a.bg-danger:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
   color:red;
    width: 100%; 
} 











           .btn-outline-success {
    color: #006426 !important;
    background-color: white !important;
    background-image: none;
    border-color: #006426 !important;
}

            

         .btn-outline-success:hover {
               color: #006426 !important;
        }




@media (min-width:993px) {
    .navbar .appTitle {
        display: none !important;
    }
}

@media (max-width:992px) {
    .content {
        padding-top: 80px !important;
    }


    .navbar {
        top: 0px;
    }

        .navbar .appTitle {
            display: block !important;
        }

    .pagewide {
        height: 0px;
    }
}
